.blueChoice {
	background-color: #4f71d6;
}
.redChoice {
	background-color: #db505e;
}
.greenChoice {
	background-color: #44dd34;
}
.yellowChoice {
	background-color: #ffe862;
}

.colorBlock {
	width: 250px;
	height: 250px;
	display: inline-block;
}
